.product-main-heading {
  margin: 5px 0 5px 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.product-card p {
  margin: 5px 0;
}

.product-card button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}
